<div class='row'>
  <div class="col-md-6"
<h1>Welcome to the Task Manager</h1>

<ul>
  <li class='btn btn-success'><a href="/tasks">Task Index</a></li>
  <li class='btn btn-success'><a href="/tasks/new">New Task</a></li>
</ul>
</div>
</div>


<!-- Path is http://localhost:9393/tasks and http://localhost:9393/tasks/new -->
