<h1>Welcome to the Task Manager</h1>

<ul>
  <li><a href="/tasks">Task Index</a></li>
  <li><a href="/tasks/new">New Task</a></li>
</ul>



<!-- Path is http://localhost:9393/tasks and http://localhost:9393/tasks/new -->
