<div class='row jumbotron'>
  <div class="col-md-6"
  <div class="buttons"
<h2 id="greeting">Welcome to the Task Manager</h2>

<ul class="well col-md-12">
  <li class='btn btn-success'><a href="/tasks">Task Index</a></li>
  <li class='btn btn-success'><a href="/tasks/new">New Task</a></li>
</ul>
</div>
</div>
</div>


<!-- Path is http://localhost:9393/tasks and http://localhost:9393/tasks/new -->
