<form action="/tasks/<%= @task.id %>" method="post">
  <p>Editar</p>
  <input type="hidden" name="_method" value="PUT" /> <!-- builds params -->
  <input type='text' name='task[title]' value="<%= @task.title %>"/><br/> <!-- populates with former info -->
  <textarea name='task[description]'><%= @task.description %></textarea><br/>
  <input type='submit'/>  <!-- gives submit button -->
</form>

<!-- creates form for editing -->
