<form class="well" action="/tasks" method="post">
  <h2>Enter a new task:</h2>
  <input type='text' name='task[title]'/><br/>
  <textarea name='task[description]'></textarea><br/>
  <input class="btn btn-default" type='submit' value="Submit"/>
</form>
